#main {
    background-color: #EDF2F4;
    height: 100vh;
}

#content {
    display: flex;
    justify-content: space-between;
}

#buttons {
    width: 25%;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

#buttons :nth-child(n) {
    width: 75px;
    height: 25px;
    margin-top: 0px;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#block {
    padding: 1em;
    width: 20%;
    background-color: #8D99AE;
    height: 80vh;
}

#midBlock {
    padding: 1em;
    width: 55%; 
    height: 80vh;
   
    overflow: auto;


}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#form {
    width: 100%;
    height: 75%;
}

#titleInput {
    border-radius: 10px;
    width: 90%;
    height: 10%;
    background-color: #EDF2F4;
    border: none;
}

#bodyInput {
    border-radius: 10px;
    width: 90%;
    height: 75%;
    background-color: #EDF2F4;
    border: none;
    resize: none;
}

#postButton {
    width: 85px;
    background-color: #EDF2F4;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
}