#main {
    background-color: #EDF2F4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    justify-content: center;

    width: 100vw;
}

#buttons {
    width: 25%;
    margin-left: 5px;
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
}

#buttons :nth-child(n) {
    background-color: #e6e8e9;
    width: 75px;
    height: 25px;
    margin-top: 0px;
    border: 1px solid black;
    border-style: none solid solid solid;
    
    box-shadow: 0 1px 2px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: none;
}

#block {
    background-color: #EDF2F4;
    padding: 1em;
    width: 55%;
    height: 80vh;
    box-shadow: -3px 3px 1px;
    border: 1px black solid;
}

#midBlock {
    padding: 1em;
    width: 55%; 
    height: 80vh;
    overflow: auto;
    align-self: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#form {
    width: 100%;
    height: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}

#titleInput {
    width: 90%;
    height: 10%;
    background-color: #dddedd;
    border: 1px solid black;
    box-shadow: -1px 1px 1px;
}

#bodyInput {
    width: 90%;
    height: 75%;
    background-color: #dddedd;
    border: 1px solid black;
    resize: none;
    box-shadow: -1px 1px 1px;
}

#postButton {
    padding: none;
    width: 85px;
    background-color: #dddedd;
    margin-top: 5%;
    border: 1px solid black;
    font-weight: lighter;
    box-shadow: -1px 1px 1px;
}