#post {
    background-color: #8D99AE;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 0px;
    padding: 15px;
    height: auto;
    text-align: left;
    font-family: sans-serif;
}

#postedBy {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 18%;
}

#user {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 100%;
}
#time {
    font-size: x-small;
    font-weight: bolder;
    color: rgba(0, 0, 0, .35);
}

#body {
    align-self: center;
    width: 90%;
    color: #FFFFFF;

}

#hr {
    border-radius: 25px;
    border: 2px solid white;
    opacity: 1;
}



#date {
    font-size: x-small;
    font-weight: bolder;
    color: rgba(0, 0, 0, .35);
}